@using lab3_App.Models.CarModels
@using lab3_App.Models
@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Car - model, producent, pojemność silnika, moc, rodzaj silnika, nr rejestracyjny, właściciel*@
<h1>Szczegoly</h1>
<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ManufacturerId)
        </dt>
        <dd class="col-sm-6">
            <a class="link-dark" id="@Model.ManufacturerId" manufacturer asp-controller="Manufacturer" asp-action="Details" asp-route-id="@Model.ManufacturerId">@Model.ManufacturerId</a>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.EngineType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RegistratioinNumber)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.RegistratioinNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>
        <dd class="col-sm-6">
            <a class="link-dark" id="@Model.ContactId" contact asp-controller="Contact" asp-action="Details" asp-route-id="@Model.ContactId">@Model.ContactId</a>
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-dark" asp-action="Update">Edytuj</a>
    <a class="btn btn-dark" asp-action="Index">Powrót do listy</a>
</div>

@section Scripts
    {
    <script>
        const m = document.querySelector("a[manufacturer]");
        fetch(`/api/manufacturers/${m.id}`)
            .then(res => res.json())
            .then(json => {
                m.innerText = json.name;
            });
    </script>

    <script>
        const c = document.querySelector("a[contact]");
        fetch(`/api/contacts/${c.id}`)
            .then(res => res.json())
            .then(json => {
                c.innerText = json.name;
            });
    </script>
}