@model IEnumerable<Data.Entities.OrganizationEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista organizacji</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Utwórz organizację</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.OrganizationId">Edit</a> 
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.OrganizationId">Details</a> 
                <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.OrganizationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
