@using lab3_App.Models.CarModels
@model Manufacturer

@{
    ViewData["Title"] = "Delete";
}

<h3>Na pewno chcesz usunąć tego producenta?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
    </dl>
</div>
    
<form asp-action="Delete">
    <input asp-for="ManufacturerId" />
    <button class="btn btn-outline-danger" type="submit">Tak</button>
    <a class="btn btn-outline-dark" asp-action="Index">Nie</a>
</form>
