@using lab3_App.Models.CarModels
@model List<Manufacturer>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista producentów</h1>

<a class="btn btn-dark" asp-controller="Manufacturer" asp-action="Create">Utworz producenta</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.ManufacturerId">Edytuj</a> 
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.ManufacturerId">Szczegóły</a> 
                <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.ManufacturerId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
