@using lab3_car.Models
@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Car - model, producent, pojemność silnika, moc, rodzaj silnika, nr rejestracyjny, właściciel*@
<h1>Szczegoly</h1>
<p>Model</p>
<h3>@Model.Model</h3>
<p>Producent</p>
<h3>@Model.Manufacturer</h3>
<p>Pojemność silnika</p>
<h3>@Model.Capaciy</h3>
<p>Moc</p>
<h3>@Model.Power</h3>
<p>Rodzaj silnika</p>
<h3>@Model.EngineType</h3>
<p>Nr rejestracyjny</p>
<h3>@Model.RegistratioinNumber</h3>
<p>Właściciel</p>
<h3>@Model.Owner</h3>
<a class="btn btn-secondary" asp-action="Index">Powrot</a>