@using lab3_App.Models.ContactModels;

@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Szczegoly</h1>
<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-6">
            @Model.Email
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Birth)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Birth)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>
        <dd class="col-sm-6">
            <a class="link-dark" id="@Model.OrganizationId" contact asp-controller="Organization" asp-action="Details" asp-route-id="@Model.OrganizationId">@Model.OrganizationId</a>
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-dark" asp-action="Update">Edytuj</a>
    <a class="btn btn-dark" asp-action="Index">Powrót do listy</a>
</div>